<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="list"></ion-back-button>
        </ion-buttons>
    <ion-title>Formulas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h5 id="fRmulas4-heading69" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Conversion de Unidades</h5>
  <div>
    <img src="assets/n8UDNBPSBSvz7kwKKAlL_12.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 25px;"></div>
  <h5 id="fRmulas4-heading70" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Modulo de Young</h5>
  <div>
    <img src="assets/kIMr545pRmy9eBtpLL5u_13.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 25px;"></div>
  <h5 id="fRmulas4-heading72" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Modulo de Poisson</h5>
  <div>
    <img src="assets/DdQTMWcTfymszdnmfWgA_2.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 25px;"></div>
  <h5 id="fRmulas4-heading73" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Esfuerzo Admisible</h5>
  <div>
    <img src="assets/Q6mggRlQPybzWl4Q4jRw_3.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 25px;"></div>
  <h5 id="fRmulas4-heading74" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Esfuerzos Normales Principales</h5>
  <div>
    <img src="assets/6SI0iZ53RNkCFUy5k4At_14.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 5px;"></div>
  <h5 id="fRmulas4-heading75" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Esfuerzo Cortante Máximo</h5>
  <div>
    <img src="assets/WUj5SRCOS4k0JCKwNFg7_15.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 5px;"></div>
  <h5 id="fRmulas4-heading76" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Convención para los Ángulos</h5>
  <div>
    <img src="assets/8HHE7o2LQZGGQihPsX17_17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/eu5ChWMbSmqpaZaPZVDR_18.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/AvtSEM7ITc6jpSGZ79Hf_19.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/VvvUmu6eQdmV1j1VJxwQ_20.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 5px;"></div>
  <h5 id="fRmulas4-heading77" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Convención de Signos</h5>
  <div>
    <img src="assets/h4f64ObOSdq7MwCaEwTC_21.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
</ion-content>
