<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p>Fuerzas cortantes y momento flexionantes en vigas</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
     <a href="/teoria2">Teoria</a>
    </ion-item>
    <ion-item> 
      <a href="/formula2">Formula</a> 
     </ion-item>
     <ion-item>
      <a href="/ejercicio2">Ejercicios</a> 
     </ion-item>
  </ion-list>
</ion-content>
