<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h3 id="fRmulas-heading4" style="color:#000000;">Sección circular Sólida</h3>
  <div>
    <img src="assets/d9ExBOySoWJ3QsLgRvOd_f1.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="fRmulas-markdown18" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• La tensión tangencial máxima se da en la circunferencia exterior y su valor viene dado por la expresión: </p>
  </div>
  <div>
    <img src="assets/nBJJdrnJShaX8VgJUpmo_f2.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="fRmulas-markdown19" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• El giro de torsión,
      <strong>por unidad de longitud (Mt*Longitud)</strong>, se calcula con la siguiente expresión:</p>
  </div>
  <div>
    <img src="assets/RhMpXBHyTru0MCdt79cF_f3.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="fRmulas-heading12" style="color:#000000;">Sección circular hueca</h3>
  <div>
    <img src="assets/yGRMFaBRRxusrfAv0jjr_f4.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="fRmulas-markdown20" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• La tensión tangencial máxima se da en la circunferencia exterior y su valor viene dado por la expresión: </p>
  </div>
  <div>
    <img src="assets/0LgnKCTIRBuSjzPGjuvC_f5.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="fRmulas-markdown21" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• El giro de torsión, por unidad de longitud, se calcula con la siguiente expresión:</p>
  </div>
  <div>
    <img src="assets/3gV6rgRgRIeryXDmn2Xn_f6.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="fRmulas-heading13" style="color:#000000;">Torsión de Saint-Venant – Sección rectangular</h3>
  <div>
    <img src="assets/3wwlMiXSyCZKuzT1SZHN_f7.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="fRmulas-markdown22" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• La tensión tangencial máxima se da en los puntos medios de los lados más largos y se calcula con: </p>
  </div>
  <div>
    <img src="assets/2BQgGNoQAeS6LqA12Xuw_f8.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="fRmulas-markdown23" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• El giro de torsión, por unidad de longitud, se calcula con la siguiente expresión:</p>
  </div>
  <div>
    <img src="assets/t2GlU4liQQOOjP35vWJb_f9.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="fRmulas-heading14" style="color:#000000;">Módulo de cortante</h3>
  <div id="fRmulas-markdown24" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">• El módulo de cortante para un material isotrópico lineal se puede calcular como:</p>

    <p style="color:#000000;">
      <strong>E=</strong> es el modulo de elasticidad longitudinal o modulo de young.</p>

    <p style="color:#000000;">
      <strong>V=</strong> es el coeficiente de poisson.</p>
  </div>
  <div>
    <img src="assets/7BfyZUlRRyx7WQr4y445_f10.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
</ion-content>