<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <p>Esfuerzo y deformaciones en vigas</p> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
     <a href="/teoria3">Teoria</a>
    </ion-item>
    <ion-item> 
      <a href="/formula3">Formula</a> 
     </ion-item>
     <ion-item>
      <a href="/ejercicio3">Ejercicios</a> 
     </ion-item>
     <ion-item>
      <a href="/video3">Videos</a> 
     </ion-item>
  </ion-list>
</ion-content>
