<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="esfuerzos"></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h4 id="videos2-heading19" style="color:#000000;">Cálculo de esfuerzo cortante</h4>
  <div>
    <a href="https://www.youtube.com/watch?v=VqAhLEjUO38"><img src="assets/video3.png" alt=""></a>
  </div>
  <div class="spacer" style="width: 300px; height: 51px;"></div>
  <h4 id="videos2-heading20" style="color:#000000;">Deflexión en vigas por método de integración</h4>
  <div>
    <a href="https://www.youtube.com/watch?v=FAS1irDPKBI"><img src="assets/video31.png" alt=""></a>
  </div>
  <div class="spacer" style="width: 300px; height: 51px;"></div>
  <h4 id="videos2-heading21" style="color:#000000;">Deflexión en vigas por método de área momento</h4>
  <div>
    <a href="https://www.youtube.com/watch?v=s85FRjfnVMU"><img src="assets/video32.png" alt=""></a>
  </div>
</ion-content>
