<ion-header>
  <ion-toolbar>
    <ion-title>Teoría</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <div id="teorA4-markdown47" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">La resistencia de materiales se enfoca en el análisis y descripción del comportamiento de los cuerpos sólidos, bajo la acción de cargas externas aplicadas, lo cual induce fuerzas internas y deformaciones que también forman parte del estudio.
    </p>
  </div>
  <h3 id="teorA4-heading37" style="color:#000000;font-weight:600;">Resistencia y Rigidez</h3>
  <div id="teorA4-markdown59" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">La resistencia de un elemento se define como su capacidad a resistir fuerzas aplicadas y esfuerzos sin romperse.
    </p>

    <p style="color:#000000;">La rigidez está ligada a la capacidad del elemento, material o estructura a oponerse a las deformaciones o desplazamientos.</p>
  </div>
  <h3 id="teorA4-heading49" style="color:#000000;font-weight:600;">Fuerzas Externas</h3>
  <h4 id="teorA4-heading50" style="color:#000000;">Cargas Muertas</h4>
  <div id="teorA4-markdown60" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Son las cargas que se aplican gradualmente y permanecen con una magnitud aproximadamente constante sobre el cuerpo. Ejm: Muros y Piso.</p>
  </div>
  <h4 id="teorA4-heading51" style="color:#000000;">Cargas Vivas</h4>
  <div id="teorA4-markdown61" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Son aquéllas que se aplican y producen esfuerzos variables debido a la acción interrumpida o variable. Ejm: Personas y Mobiliario.</p>
  </div>
  <h4 id="teorA4-heading52" style="color:#000000;">Cargas Dinamicas</h4>
  <div id="teorA4-markdown62" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Pueden variar en magnitud y dirección en el tiempo, además bajo la acción de una carga dinámica, la estructura desarrolla fuerzas inerciales y la deformación máxima no coincide necesariamente con la intensidad máxima de la fuerza aplicada. Ejm:
      Sismos y el Viento.</p>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <h3 id="teorA4-heading53" style="color:#000000;font-weight:600;">Fuerzas Internas</h3>
  <h4 id="teorA4-heading54" style="color:#000000;">Fuerza Axial</h4>
  <div id="teorA4-markdown63" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Es la fuerza que se genera en el sentido longitudinal del cuerpo. Cuando las cargas externas tienden a acortar el elemento, a la fuerza axial se le conoce como fuerza de compresión, mientras que si el cuerpo tiende a alargarse, se le llama tensión.
      </p>
  </div>
  <div style="margin-left: -10px; width: calc(100% + 20px);">
    <img src="assets/teoria1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h4 id="teorA4-heading55" style="color:#000000;">Fuerza Cortante</h4>
  <div id="teorA4-markdown64" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Se genera una fuerza interna cortante cuando dos fuerzas externas que actúan sobre un cuerpo, lo hacen en direcciones opuestas, pero en diferentes líneas de acción. </p>
  </div>
  <h4 id="teorA4-heading56" style="color:#000000;">Momento Flector</h4>
  <div id="teorA4-markdown65" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Es la fuerza interna que se manifiesta cuando el cuerpo de flexiona, lo que implica que éste se ve sometido a fuerzas de tensión y compresión simultáneamente.</p>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <h3 id="teorA4-heading57" style="color:#000000;font-weight:600;">Esfuerzo</h3>
  <div id="teorA4-markdown66" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Fuerza que actúa sobre unidad de área. Función de fuerzas internas provocadas por una fuerza externa. Se expresa en [N/m2] [Pa].</p>
  </div>
  <h4 id="teorA4-heading58" style="color:#000000;">Esfuerzo Normal</h4>
  <div>
    <img src="assets/teoria12.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h4 id="teorA4-heading59" style="color:#000000;">Esfuerzo Cortante</h4>
  <div>
    <img src="assets/teoria13.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h4 id="teorA4-heading60" style="color:#000000;">Esfuerzo de Aplastamiento</h4>
  <div>
    <img src="assets/teoria14.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h4 id="teorA4-heading61" style="color:#000000;">Esfuerzo de Flexión</h4>
  <div>
    <img src="assets/teoria15.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 20px;"></div>
  <h4 id="teorA4-heading62" style="color:#000000;">Deformación</h4>
  <div id="teorA4-markdown67" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Cambio de longitud en un elemento debido a las fuerzas aplicadas sobre él.</p>
  </div>
  <div>
    <img src="assets/teoria16.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h4 id="teorA4-heading63" style="color:#000000;">Elasticidad</h4>
  <div id="teorA4-markdown68" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Capacidad de un cuerpo de recuperar su estado original tras deformarse y retirar las fuerzas.</p>
  </div>
  <h4 id="teorA4-heading65" style="color:#000000;">Modulo de Young (E)</h4>
  <div id="teorA4-markdown69" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Tambien conocido como Modulo de Elasticidad. Cada material tiene su propio modulo, además tiene un rango elástico, el cual es usado para obtener el módulo.</p>
  </div>
  <div>
    <img src="assets/teoria17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/exQbUEVIR1mn1MoEoQjE_6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div>
    <img src="assets/lWq0fMKwSM6j5mHeHeAA_1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <h4 id="teorA4-heading64" style="color:#000000;">Modulo de Poisson</h4>
  <div id="teorA4-markdown71" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Cuanto se deforma un objeto lateralmente mientras deformamos longitudinalmente.</p>
  </div>
  <div>
    <img src="assets/teoria19.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h4 id="teorA4-heading66" style="color:#000000;">Esfuerzo Admisible</h4>
  <div id="teorA4-markdown72" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Es aquel esfuerzo que no debe ser excedido en el diseño de un elemento.</p>
  </div>
  <div>
    <img src="assets/teoria110.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 20px;"></div>
  <h4 id="teorA4-heading67" style="color:#000000;">Esfuerzos Principales</h4>
  <div id="teorA4-markdown73" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Se refiere a los esfuerzos para los cuales el esfuerzo normal y el esfuerzo cortante obtiene su valor máximo.</p>
  </div>
  <div>
    <img src="assets/teoria111.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/teoria112.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="teorA4-markdown74" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Convencion de signos para los esfuerzos y los angulos en el apartado de formulas del tema.*</p>
  </div>
  <div class="spacer" style="height: 20px;"></div>
  <h4 id="teorA4-heading68" style="color:#000000;">Circulo de Mohr</h4>
  <div id="teorA4-markdown75" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">El círculo de Mohr es una representación gráfica de los esfuerzos principales, fue desarrollada por Christian Otto Mohr en 1882. </p>

    <p style="color:#000000;">Procedimiento para calcularlo:</p>

    <p style="color:#000000;">1) Trazar el eje de coordenadas 𝜎 en x, τ en y.</p>

    <p style="color:#000000;">2) Centro: (C,0) (Esfuerzo Normal Promedio).</p>
  </div>
  <div>
    <img src="assets/teoria113.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="teorA4-markdown77" class="show-list-numbers-and-dots">
    <p style="color:#000000;">3) Radio.</p>
  </div>
  <div>
    <img src="assets/teoria114.png" style="display: block; width: 75%; height: 75%; margin-left: auto; margin-right: auto;">
  </div>
  <div id="teorA4-markdown79" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">4) Se trazan los valores de 𝜏 y 𝜎 correspondientes a dos superficies mutuamente perpendiculares al cubo elemental.</p>
  </div>
  <div>
    <img src="assets/teoria115.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/teoria116.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div id="teorA4-markdown80" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">5) Los ángulos son positivos en el sentido contrario a las manecillas del reloj en el círculo de Mohr y representan dos veces el ángulo medido en el cubo elemental</p>
  </div>
  <div>
    <img src="assets/teoria117.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 20px;"></div>
</ion-content>