<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="list"></ion-back-button>
        </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding="true" class="has-header">
    <h4 id="videos3-heading82" style="color:#000000;">Circulo de Mohr</h4>
    <div>
      <a href="https://youtu.be/_6-0XmGCex0"><img src="assets/video10.png" alt=""></a>
    </div>
    <div class="spacer" style="width: 300px; height: 52px;"></div>
    <h4 id="videos3-heading83" style="color:#000000;">Módulo de Young</h4>
    <div>
      <a href="https://youtu.be/cyCfaJfzT4E"><img src="assets/video1.png" alt=""></a>
    </div>
  </ion-content>
  
