<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p>Conceptos Basicos de la resistencia de materiales</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
     <a href="/teoria1">Teoria</a>
    </ion-item>
    <ion-item> 
      <a href="/formula1">Formula</a> 
     </ion-item>
     <ion-item>
      <a href="/ejercicio1">Ejercicios</a> 
     </ion-item>
     <ion-item>
      <a href="/video1">Videos</a>
     </ion-item>
  </ion-list>
</ion-content>
