<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h3 id="ejercicios-heading85" style="color:#000000;">Ejercicio 1</h3>
  <div>
    <img src="assets/OkyNrX6GT4mkLCUQbUgD_i1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="ejercicios-heading86" style="color:#000000;">Ejercicio 2</h3>
  <div>
    <img src="assets/KKSgPFjrRUno4UiVvCmP_i2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
</ion-content>
