<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h3 id="videos-heading71" style="color:#000000;">Torsión en sección circular</h3>
    <div>
      <a href="https://youtu.be/_6-0XmGCex0"><img src="assets/video41.png" alt=""></a>
    </div>
  <div class="spacer" style="width: 300px; height: 47px;"></div>
  <h3 id="videos-heading84" style="color:#000000;">Torsión en sección rectangular</h3>
  <div>
    <a href="https://youtu.be/cyCfaJfzT4E"><img src="assets/video4.png" alt=""></a>
  </div>
</ion-content>
