<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="esfuerzos"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h3 id="ejercicios2-heading87" style="color:#000000;">Ejercicio 1</h3>
  <div>
    <img src="assets/p4OE2yF9QX6zLWEJwHai_Slido36.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="width: 300px; height: 12px;"></div>
  <div>
    <img src="assets/IFOBfIWTrW3FmTuoAb5I_Slido37.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/iGYRsbsmRXWmLSfPzqjT_Slido38.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/vjqAlgcGQcKqhmjpnsdd_Slido39.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="ejercicios2-heading88" style="color:#000000;">Ejercicio 2</h3>
  <div>
    <img src="assets/64zSnIReT9OrDEgmUty5_Slido40.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="width: 300px; height: 12px;"></div>
  <div>
    <img src="assets/7RJuLT8RtGTEQG1hDTaJ_Slido41.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/3siLrBdRqKXg1anb8JBK_Slido42.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="ejercicios2-heading89" style="color:#000000;">Ejercicio 3</h3>
  <div>
    <img src="assets/GzQQwJBGRVsgl1cU0ZcX_Slido43.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="width: 300px; height: 9px;"></div>
  <div>
    <img src="assets/EKkx7BNdQOOPQoaMOfhw_Slido44.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/IZXynOonT5i4p30brtoN_Slido45.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="width: 300px; height: 42px;"></div>
  <h3 id="ejercicios2-heading90" style="color:#000000;">Ejercicio 4</h3>
  <div>
    <img src="assets/ahcBxkrTZiOVae5yPf2q_Slido46.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="width: 300px; height: 11px;"></div>
  <div>
    <img src="assets/TJR3ML3SzaDEJHGvTtiQ_Slido47.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="width: 300px; height: 32px;"></div>
</ion-content>
