<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h3 id="ejercicios4-heading78" style="color:#000000;">Ejercicio 1</h3>
  <div style="margin-left: -10px; width: calc(100% + 20px);">
    <img src="assets/uTz0pR8HRPuq4viTwKZY_24.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="ejercicios4-heading79" style="color:#000000;">Ejercicio 2</h3>
  <div style="margin-left: -10px; width: calc(100% + 20px);">
    <img src="assets/tBKoUtTSfaUgE5mtNDcS_Sinttulo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="ejercicios4-heading80" style="color:#000000;">Ejercicio 3</h3>
  <div style="margin-left: -10px; width: calc(100% + 20px);">
    <img src="assets/8jog5JvR0yBg2uL5EhkQ_22.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <h3 id="ejercicios4-heading81" style="color:#000000;">Ejercicio 4</h3>
  <div style="margin-left: -10px; width: calc(100% + 20px);">
    <img src="assets/EZZmTpbdT3O5dF10505I_25.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div>
    <img src="assets/lJS4cjhTTxiTINrmuoE7_26.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div class="spacer" style="height: 25px;"></div>
</ion-content>